html {
    background-color: rgb(244, 143, 177)
}

body {
    background-color: transparent;
}

.main-content-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.transparent-container {
    background: transparent;
}

.main-gradient-background {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
}

aly-navbar .md-nav-bar {
    border-bottom: none;
}

aly-projects md-card-content img {
    width: 100%;
}

aly-projects md-card-content p {
    margin: 0;
}

md-input-container {
    width: 100%;
}
