<div class="main-content-container">
    <!-- List of projects -->

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">SpaceJam</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            Made in less 24 hours as part of a game jam that my uni put on. You're a slug who is just sliding along, trying to
                            avoid various obstacles that appear to the beat of the music by jumping up to the ceiling and falling to the floor.
                        </p>
                    </div>
                    <div>
                        <p><a href="https://github.com/AlySapphire/SpaceJam" class="md-accent">GitHub Project</a></p>
                        <p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Nuts Bolts & Goblins</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            Some text about my project.
                        </p>
                    </div>
                    <div>
                        <p><a href="http://link/to/some/site" class="md-accent">GitHub Project</a></p>
                        <p><a href="https://vimeo.com/193914090" class="md-accent">Vimeo Video</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
