<div class="main-content-container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Hey, I'm Alyssa</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                Hey, I'm Alyssa. I'm a HUGE NERD.
            </p>

            <md-card-actions>
                <md-button class="md-primary md-raised" ui-sref="aly.projects">
                    <md-icon>view_list</md-icon>
                    Check out my projects
                </md-button>
                <md-button class="md-primary md-raised" ui-sref="aly.contact">
                    <md-icon>mail</md-icon>
                    Get in touch
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>
