<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" ng-bind="cardTitle"></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="row" layout-align="start start">
            <div flex-sm="100" flex="50">
                <img ng-src="{{cardImage}}">
            </div>
            <div flex-sm="100" flex="50" layout-padding>
                <div ng-transclude></div>
            </div>
        </div>
    </md-card-content>
</md-card>
