<div class="main-content-container">
    <!-- List of projects -->

<!-- Princesses Vs Dragons BEGIN -->
<md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Princesses Vs Dragons</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://i.imgur.com/6OflG1v.png">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            Princesses vs Dragons is a super cute fantasy series of multiplayer scenarios played as an over-the-shoulder third-person arena 
                            brawler for Steam, in which players are either a Dragon or a Princess competing over fairies. Each role has a unique set of skills 
                            they use in the battlefield in order to catch members of their opposing team. Drawn to the fairies that flit between flowers, both 
                            dragons and princesses clash in royal gardens, castle halls during festivals, and the floral décor of dragon lairs.
                            <br />
                            My roles involved in this project included setting up a source control solution for team collaboration, programming the main character's
                            mechanics, developing systems for integrating external data from CSV files into code and writing up technical documentation and specifications.
                            <br />
                            <br />
                            Languages/Engines Used: C++, Blueprints, UE4
                        </p>
                    </div>
                    <div>
                        <p><a href="https://www.facebook.com/InsertDragon/" class="md-accent">Like the game on Facebook</a></p>
                        <p><a href="https://vimeo.com/244413201" class="md-accent">Check out the latest Trailer!</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
<!-- Princesses Vs Dragons END -->

<!-- Nuts Bolts & Goblins BEGIN -->
<md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Nuts Bolts & Goblins</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://cdna.artstation.com/p/assets/images/images/004/133/896/large/sianna-back-goblin-king.jpg?1480644755">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            This is a game I developed in Unity3D with TeamPoliteDynamite. Nuts Bolts and Goblins is a colorful and fast-moving rhythm style game 
                            where crude and nasty enemies can only be killed by using the correctly colored gun. I worked on the gameplay mechanics which involved 
                            shooting, weapon swapping, health and movement as well as the boss mechanics which included AI programming, state machine, and health. 
                            I also created and implemented an alternative to Unity's physics engine for a crucial game function.
                            <br />
                            <br />
                            Languages/Engines Used: C#, Unity3D
                        </p>
                    </div>
                    <div>
                        <p><a href="https://github.com/joelybahh/NutsBoltsAndGoblinsSourceCode" class="md-accent">GitHub Project</a></p>
                        <p><a href="https://vimeo.com/193914090" class="md-accent">Vimeo Video</a></p>
                        <p><a href="https://github.com/joelybahh/NutsBoltsAndGoblinsSourceCode/raw/master/NutsBoltsAndGoblins%20-%20Gold%201.0.0.apk" class="md-accent">Download Android APK</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
<!-- Nuts Bolts & Goblins END -->

<!-- Dynamic Soundtrack System BEGIN -->
     <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">DynamicSoundtrackSystem</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="http://i.imgur.com/yAxEKCu.png">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            The DynamicSoundtrackSystem is a C++ library, created by me, which gives developers an easy way to 
                            manipulate audio data to create a dynamic soundtrack. From using simple volume and mute controls, to 
                            advanced DSP filters with custom parameters, developers are able to utilize this library to create a vast 
                            number of effects that will greatly add to the immersion and enjoyment of any game.
                            <br />
                            <br />
                            Languages/API's Used: C++, FMOD
                        </p>
                    </div>
                    <div>
                        <p><a href="https://github.com/AlySapphire/DynamicSoundtrackSystem" class="md-accent">Library GitHub Project</a></p>
                        <p><a href="https://github.com/AlySapphire/DynamicSoundtrackDemoApp" class="md-accent">Demo Application GitHub Project</a></p>
                        <!--<p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>-->
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
<!-- Dynamic Soundtrack System END -->

<!-- Space Jam BEGIN -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">SpaceJam</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="http://i.imgur.com/3S2Tg3H.png">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            This simple but appealing rhythm game was made with UE4 in less 24 hours as part of a game jam. The player 
                            controls an innocent but musically aware slug who is just sliding through life. The slug must avoid 
                            various obstacles that appear to the beat of the in-game music, by jumping up to the ceiling and falling to 
                            the floor. I worked on the movement and gravity flipping mechanics as well as collision detection and 
                            adding in the animations.
                            <br />
                            <br />
                            Languages/Engines Used: UE4, Blueprints
                        </p>
                    </div>
                    <div>
                        <p><a href="https://github.com/AlySapphire/SpaceJam" class="md-accent">GitHub Project</a></p>
                        <p><a href="https://drive.google.com/file/d/0B-xUPnNlvJSJczczNTBXVlBGX28/view" class="md-accent">Download Game</a></p>
                        <!--<p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>-->
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
<!-- Space Jam END -->

<!-- OpenGL Demo BEGIN -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">OpenGL Demo</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="http://i.imgur.com/fWr4OVD.png">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            This is a small demo application that showcases some OpenGL techniques and graphics concepts I researched 
                            and implemented. Some techniques shown in this application are:
                            <ul>
                                <li> Surface-based lighting with ambience and specular reflections </li>
                                <li> GPU-Accelerated particle system </li>
                                <li> Post-Processing effects such as Distortion and Sepia toning </li>
                                <li> Camera-frustum culling and loading an FBX model and animations and rendering them in 3D space using code. </li>
                            </ul>
                            Languages Used: C++, GLSL
                        </p>
                    </div>
                    <div>
                        <p><a href="https://github.com/AlySapphire/opengl-graphics-project" class="md-accent">GitHub Project</a></p>
                        <p><a href="https://github.com/AlySapphire/opengl-graphics-project/raw/master/OpenGL-Demo.zip" class="md-accent">Download Release folder</a></p>
                        <!--<p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>-->
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
<!-- OpenGL Demo END -->
</div>
