<div class="main-content-container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Let's get in touch!</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form>
                <md-input-container>
                    <label>Name</label>
                    <input type="text">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input type="email">
                </md-input-container>
                <md-input-container>
                    <label>Phone</label>
                    <input type="tel">
                </md-input-container>
                <md-input-container>
                    <label>Message</label>
                    <textarea type="text" rows="4"></textarea>
                </md-input-container>

                <div layout="row" layout-align="end center">
                    <md-button ng-click="submitForm()" class="md-primary md-raised">Submit</md-button>
                </div>
            </form>

            <md-divider></md-divider>

            <md-button href="https://github.com/AlySapphire">Github</md-button>
            <md-button href="http://link/to/url">Twitter</md-button>
            <md-button href="http://link/to/url">Youtube</md-button>

        </md-card-content>
    </md-card>
</div>
