<div class="main-content-container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Let's get in touch!</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form ng-submit="submitForm()" ng-if="!submitSuccess">
                <md-input-container>
                    <label>Name</label>
                    <input type="text" required ng-model="contactData.name">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" required ng-model="contactData.email">
                </md-input-container>
                <md-input-container>
                    <label>Phone</label>
                    <input type="tel" ng-model="contactData.phone">
                </md-input-container>
                <md-input-container>
                    <label>Message</label>
                    <textarea type="text" rows="4" required ng-model="contactData.message"></textarea>
                </md-input-container>

                <div layout="row" layout-align="end center">
                    <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                </div>
            </form>

            <md-divider></md-divider>

            <md-button href="https://github.com/AlySapphire">Github</md-button>
            <md-button href="https://www.linkedin.com/in/alyssafackrell/">LinkedIn</md-button>
            <!--<md-button href="http://link/to/url">Twitter</md-button>
            <md-button href="http://link/to/url">Youtube</md-button>-->

        </md-card-content>
    </md-card>
</div>
