<div class="main-content-container">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Hey, I'm Alyssa</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                I'm an aspiring game developer from NSW. I'm currently in my second year at AIE Sydney studying Advanced Diploma of Professional Game
                Development specialising in Game Programming. Video Games have been part of my life ever since I was a kid, bringing me a lot of joy and entertainment.
                I hope to pass on that joy by making unique experiences for people to enjoy.
                <br />
                <br />
                I specialise in Visual C++ development and have experience in low-level API's such as OpenGL, FMOD and SDL2. I'm a highly-skilled Unity3D developer
                having made several projects with the engine. I'm a confident C# developer having experience with the .NET framework. I've also had expeience with UE4
                and blueprints as well as having made some C++ classes in UE4 projects.
                <br />
                <br />
                My main interests include gameplay mechanics programming, algorithm design, Ai programming and engine and framework development. I also enjoy UI interactivity
                and anything programming related really.
            </p>

            <md-card-actions>
                <md-button class="md-primary md-raised" ui-sref="aly.projects">
                    <md-icon>view_list</md-icon>
                    Check out my projects
                </md-button>
                <md-button class="md-primary md-raised" ui-sref="aly.contact">
                    <md-icon>mail</md-icon>
                    Get in touch
                </md-button>
                <md-button class = "md-primary md-raised" href = "https://github.com/AlySapphire">
                <md-icon>border_clear</md-icon>
                GitHub
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>
