<div class="main-content-container">
    <!-- List of projects -->

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Project 1</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            Some text about my project.
                        </p>
                    </div>
                    <div>
                        <p><a href="http://link/to/some/site" class="md-accent">GitHub Project</a></p>
                        <p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Project 2</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="start start">
                <div flex="50">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
                </div>
                <div flex="50" layout-padding>
                    <div>
                        <p>
                            Some text about my project.
                        </p>
                    </div>
                    <div>
                        <p><a href="http://link/to/some/site" class="md-accent">GitHub Project</a></p>
                        <p><a href="http://link/to/some/site" class="md-accent">Youtube Video</a></p>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
